<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Blog App</title>
</head>


<div class="ui secondary pointing menu">
    <a class="item" href="/blogs">
        Home Page
        <!-- <i class="angle double up icon"></i>Home Page -->
    </a>
    <a class="item" href="/blogs">
        View All Blogs
    </a>
    <a class="item" href="/blogs/new">
        Add A Blog
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
            Exit
        </a>
    </div>
</div>

<div class="ui container">

    <body>